
/* ----------------------------------------------------------------
External Font
-----------------------------------------------------------------*/
@font-face {
font-family: 'ubuntubold';
src: url('../../fonts/ubuntu-b-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-b-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntubold_italic';
src: url('../../fonts/ubuntu-bi-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-bi-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntu_condensedregular';
src: url('../../fonts/ubuntu-c-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-c-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntulight';
src: url('../../fonts/ubuntu-l-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-l-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntulight_italic';
src: url('../../fonts/ubuntu-li-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-li-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntumedium';
src: url('../../fonts/ubuntu-m-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-m-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntumedium_italic';
src: url('../../fonts/ubuntu-mi-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-mi-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntu_monobold';
src: url('../../ubuntumono-b-webfont.woff2') format('woff2'),
url('../../ubuntumono-b-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ubuntuitalic';
src: url('../../fonts/ubuntu-ri-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-ri-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'ubunturegular';
src: url('../../fonts/ubuntu-r-webfont.woff2') format('woff2'),
url('../../fonts/ubuntu-r-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}



/* Webkit */
::-webkit-input-placeholder { color: #999; }

/* Firefox 4-18 */
:-moz-placeholder { color: #999; }

/* Firefox 19+ */
::-moz-placeholder {/* color: #444; */}

/* IE10+ */
*:-ms-input-placeholder {color: #999!important;}

html {width: 100%; letter-spacing: normal;}
.clr {clear: both;}
body{width: 100%;font-family: 'ubunturegular', sans-serif;}

h5,
h6 , h1 , h2 , h3 , h4 { font-weight: normal;font-family: 'ubuntumedium', sans-serif; }
body{ -webkit-font-smoothing: antialiased;}
select::-ms-expand{display:none; }
select{ -webkit-appearance:none;}
dl, dt, dd, ol, ul, li {	margin: 0;padding: 0;  list-style-type: none;}
a:active , select , select:focus , a:focus , a:hover , input:focus , button:focus , textarea:focus { outline: none !important; 
text-decoration: none;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
a , button{text-decoration: none;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
option{ padding: 5px;}
textarea {resize: none;}


/*process box*/

.step h2{color: #515151;font-size: 20px;margin:0 0 20px;}
.process-bx {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;
padding: 30px 0 50px;}
.gray-strip {background: #f3f3f3;color: #5e5e5e;font-family: "ubuntumedium",sans-serif;font-size: 16px;margin: 10px 0;  padding: 12px 20px;text-transform: uppercase;}


/*steps process*/
.normal_step {background: #d2e8e6  ;border-radius: 50%; color: #555;
font-family: "ubuntumedium",sans-serif;font-size: 21px;height: 100%;padding: 2px;text-align: center;width: 100%;}
.plan-detail {top: 29px;left: -20px;position: absolute;width: 94px;}
.active_step {background: #fc575c;}
.step_bor{border: 5px solid rgba(0, 0, 0, 0.05);border-radius: 50%;height: 46px;margin: 0 auto;position: relative;top: -28px;width: 46px;}
.step_process{  display: inline-block;height: 10px;max-width: 60px;min-height: 54px;position: relative;text-align: center;width: 100%;}
.center-row {float: none;text-align: center;}
.active-step.step_bor {border-color:rgba(252, 87, 92, 0.2)}
.bg_i {margin: -7px -10px;background: rgba(0, 0, 0, 0) url("../../images/bag_line.png") repeat-x scroll 0 0;display: inline-block; 
vertical-align: top;width: 34%;}
.active.step_title {color: #fc575c;}
.active_step.normal_step {color: #fff;}
.process_steps {   margin: 106px auto 0 -4px;min-height: 91px;}
.step_title { color: #a7b3bf;font-family: "ubuntulight",sans-serif;font-size: 16px;letter-spacing: 0.4px;line-height: 25px;}
.center-row {text-align: center;}
.process-tick {vertical-align: middle;}
/*step process end */

/*upload cv*/
/*file input css start here*/
.btn-file {position: relative;overflow: hidden;}
.btn-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;text-align: right;opacity: 0;background:  transparent;cursor: inherit;display: block;}
/* IE 10 fix */
.btn-file ::-ms-browse {width:100%;height:100%;}
.btn.btn-primary.btn-file {background: #c42881;border-color: #c42881;border-radius: 0 ;color: #fff;display: block;height: 35px;float: right;padding-top: 6px;    max-width: 92px; width: 100%;}
.user-box .input-group {border-collapse: separate;max-width: 100%;position: relative;width: 100%; border: 1px solid #dadada;border-radius: 3px;}
.glyphicon.glyphicon-trash, .glyphicon.glyphicon-upload, .glyphicon.glyphicon-file.kv-caption-icon {color: #888;font-weight: normal;}
.form-control.file-caption.kv-fileinput-caption {background: #fff;  border: 0;box-shadow: none;height: 39px;max-width:48%;width: 100%;}
.btn.btn-primary.btn-file.btn-gry {background: #ececec;border-color: #ececec;padding: 1px;}
.btn.btn-primary.btn-file {background: #c42881 ;border-color: #c42881;border-radius: 0;color: #fff;display: block;float: right;height: 35px;max-width: 92px;padding-top: 6px;width: 100%;}
.btn-file {overflow: hidden;position: relative;}
.btn.btn-gry.btn-primary.btn-file .file {color: #555;font-size: 16px;opacity: 1;padding:8px 11px; display:block;width: 100%;letter-spacing: 0.4px;}
.btn.btn-gry.btn-primary.btn-file .file:hover{ text-decoration: none;}
.btn.btn-primary.btn-file.remove {max-width: 30px;padding: 10px 0;width: 100%;}
.btn.btn-primary.btn-file {background: #464646;border-color:#464646;border-radius: 2px;color: #fff;display: block;float: left;height:39px;max-width: 172px;padding-top: 6px;width: 100%;margin: 0;}
.user-box .input-group {border:0px solid #bababa;border-collapse: separate;border-radius: 3px;max-width: 100%;position: relative;width: 100%;}
a.file i { color: #fff;padding-top: 12px;}
.audio-job select.droup {font-size: 14px;}
.input-bx.d-se {margin-bottom: 0;}
.user-box .file {color: #3c3c3c;cursor: pointer;display: block;left: 0;max-width: 172px;opacity: 1;position: absolute;  top:0px;width: 100%;z-index: 999;}
.form-control.file-caption.kv-fileinput-caption {float: none;}
.upload {color: #9e9e9e;font-size: 16px;font-weight: normal;font-family: 'ubuntulight';letter-spacing: 0.4px; padding-top: 10px;}
/*file input css end here*/





/* header */
.input-box {display: inline-block;margin: 0 auto;max-width: 575px;position: relative;width: 100%;}
.header{position: absolute;width: 100%; padding: 15px 0;}
.header.sticky {background-color:rgba(0 ,0 ,0 , 0.75);padding: 10px;position: fixed;width: 100%;left: 0;top: 0;z-index: 9;border-top: 0;/*-webkit-transition: all 0.3s ease-in-out;*/-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;z-index: 999;}
.input-wrapper .col-sm-1 { padding-left: 0;}
.text-right li a{color: #fff; display: inline-block; padding: 0 0 0 45px;font-family: 'ubunturegular',sans-serif;font-size: 16px;margin-top: 0px;}
.text-right li a:hover{color:#1376d7;}
.menu-right li {display: inline-block;line-height: normal;vertical-align: middle;}

.main-logo a img {max-width: 251px;width: 100%;}
.search{float: none;margin: auto;text-align: center;margin: 240px auto;}
.search h2{ color: #fff;font-family: "ubuntumedium",sans-serif;font-size: 40px;letter-spacing: normal;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);}
.search h4{font-family: 'ubunturegular',sans-serif; font-size: 34px;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);color:#fff;margin-bottom: 30px; margin-top: 30px;}
.search-btn{background-color: #1376d7; border: medium none;border-radius: 3px;height: 48px;max-width: 67px;position: absolute;right: 0;top: 0;width: 100%;}
.search-btn:hover,.search-btn:focus{background-color: #000;}
.input-box input { border: 1px solid #eee;border-radius: 3px;color: #626262;display: block; font-family: "ubuntulight";font-size: 16px;height: 48px; max-width: 497px; padding:0 10px;width: 100%;box-shadow: 0 1px 2px rgba(109, 109, 109, 0.75);}
.fa-search{color:#fff;}
.banner{background-image: url(../../images/home-banner.jpg); background-repeat: no-repeat;background-size: cover;}
.home-header .header.sticky .text-right li a {padding-top: 10px;}
/* end */

/* middle section */
.middle-section {margin: 40px 0;}
.experience{color: #1a2b40;font-size: 32px;margin-top: 0px;text-align: center;font-family: 'ubunturegular',sans-serif;}
.box-left img{margin-bottom: -1px;}
.box:hover .box-right h2{color:#0959a8;corser:pointer;}
.box:hover .fa-inr{color:#888;corser:pointer}

.box-right h4{color:#1376d7;font-family: 'ubunturegular',sans-serif; font-size: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;margin-top: 15px;}
.box:hover .box-right h4{color:#0959a8;}
.box-right h5{color:#444444;font-family: 'ubunturegular';font-size: 16px;margin-top: 15px;}
.box-right p{ color: #6c6c6c;font-family: "ubunturegular";font-size: 15px;height: 70px;letter-spacing: 0.2px;line-height: 23px;margin-bottom: 15px;
overflow: hidden;}

.box-right ul li {display: inline-block;padding:0 10px;border-right: 2px solid #8b8b8b;font-family: 'ubunturegular',sans-serif;font-size: 16px;padding: 0 30px;vertical-align:middle;color: #606060;line-height: 13px;}
.box-right ul li:last-child{border:none !important;}
.box-right ul li:first-child{padding-left:0px !important;}
.box-right ul li i{color:#8b8b8b;padding-right: 8px;}
i.fa-inr {color: #525252;font-size: 40px;}
.col-sm-2.col-md-2.col-lg-2.text-center.rupies {padding-right: 0;}
.box-right .text-center { padding-top: 60px;}
.box-right ul li img{padding-right: 10px;}
.col-sm-12.col-md-9.col-lg-9.mar-left-px {margin-left: -4%;padding-left: 0;width: 79%;}
.rupies h2{   color: #1376d7;font-family: "ubuntumedium",sans-serif;font-size: 28px;margin-top: 8px;}

.box{border: 1px solid #eee; box-shadow :1px 1px 0px rgba(0, 0, 0, 0.24);margin-bottom: 25px;}
.bag {margin-bottom: 20px;}
.box:hover{ box-shadow :1px 1px 0px rgba(0, 0, 0, 0.34);cursor:pointer;}
.view-btn{ background: transparent none repeat scroll 0 0; border: 1px solid #ccc;color: #3d3d3d;margin-top: 15px;padding: 10px 0px;font-size: 15px;
font-family: 'ubunturegular',sans-serif; padding: 10px 0; max-width: 332px;width:100%}
.section2{background-image: url("../../images/middle-banner.jpg");background-repeat: no-repeat;background-size: cover;}
.middle-banner { overflow: hidden;padding-top: 20px;padding-bottom: 20px;}

.pattern {
/*background-image:;background-repeat: repeat;*/
/*background: url("../../images/pattern-over.png") repeat, rgba(19,48,82,0.2);*/
background:  url("../../images/pattern-over.png") repeat, -moz-linear-gradient(top, rgba(19,48,82,0.59) 0%, rgba(19,48,82,0.01) 100%);
background:  url("../../images/pattern-over.png") repeat, -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,48,82,0.59)), color-stop(100%, rgba(19,48,82,0.21)));
background:  url("../../images/pattern-over.png") repeat, -webkit-linear-gradient(top, rgba(19,48,82,0.62) 0%, rgba(19,48,82,0.21) 100%);
background:  url("../../images/pattern-over.png") repeat, -o-linear-gradient(top, rgba(19,48,82,0.59) 0%, rgba(19,48,82,0.21) 100%);
background: url("../../images/pattern-over.png") repeat,  -ms-linear-gradient(top, rgba(19,48,82,0.59) 0%, rgba(19,48,82,0.21) 100%);
background:  url("../../images/pattern-over.png") repeat, linear-gradient(to bottom, rgba(19,48,82,0.59) 0%, rgba(19,48,82,0.21) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133052', endColorstr='#133052', GradientType=0 );
min-height: 700px;
}
.pattern-middle-banner { background-color: rgba(0, 0, 0, 0.6);background-image: url("../../images/pattern-over.png");background-repeat: repeat;min-height: 180px;}

.section2 h2{font-size: 34px;font-family: 'ubuntumedium';}
.section2 p{font-size: 19px;font-family: 'ubunturegular',sans-serif;}
.section3{margin-top: 30px;margin-bottom: 30px;}
.section3 h2{color:#1a2b40;font-size: 32px;font-family: 'ubunturegular',sans-serif;}
.content ul li a { color: #322d22;font-size: 16px;font-family: 'ubuntulight';}
.content ul li a i{color:#04599c;}
.tab-contact {margin-top: 40px;}
.footer-bg{background-color: #272727}
.footer-bg ul li{color:#fff;display: inline-block;border-right: 1px solid #fff;padding: 0 18px;font-size: 15px;font-family: 'ubunturegular',sans-serif;line-height: 13px;}
.footer-bg p{color:#dcdcdc;font-family: 'ubunturegular',sans-serif;letter-spacing: 0.2px;padding-bottom: 15px;}
.container > ul {padding-bottom: 20px;padding-top: 20px;text-align: center;}
.box-right {padding-left: 15px;}
.view-btn:hover{background-color: #04599c;color:#fff;}
.content ul{border:none !important;}
.section2 h2, .section2 p{color:#fff; padding: 0 40px;}
.star-wrapper .starrr{float: left; padding-top: 0px;}
.star-wrapper span{float: right;padding-left: 5px;}
.ul-category {display: inline-block;max-width: 224px;width: 100%;padding-bottom: 20px; padding-right: 20px;}
.ul-category > h4 {border-bottom: 1px solid #ccc;color: #555555;font-size: 16px;margin-bottom: 0px;padding-bottom: 8px;text-align: left;line-height: normal;font-family: "ubuntumedium",sans-serif; letter-spacing: 0.4px;}
.heading-border { background-color: #1376d7;height: 1px;margin-top: -1px;width: 45px;}
.ul-category a {color: #322d22;font-size: 14px;font-family: 'ubuntulight',sans-serif;}
.ul-category a i{ color: #74abe0;padding-right: 5px;}
.ul-category > ul { line-height: 30px;margin-top: 20px;}
.category{margin-top: 10px;}
.ul-category ul li a:hover{color:#1871b7;}
.view-btn-wrapper{text-align: center;}
.category-btn {background-color: #fbfbfb;border: 1px solid #ccc;border-radius: 0;color: #3d3d3d;font-size: 12px; padding: 0px 0; max-width: 130px; width:100%;margin-top: 20px;
height: 24px;line-height: normal;}
.category-btn:hover{background-color: #04599c;color:#fff;}
/* end */

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:20px;height:16px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.star-rating,div.star-rating a { background-image:url(../../images/star.gif);background-repeat: no-repeat;background-position: center center;}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -32px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

/*----------------login page-------------------*/
.banner-login{background-image: url(../../images/login-banner.jpg); background-repeat: no-repeat;background-size: cover;}
.pattern-login{background-repeat: repeat;background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;min-height: 945px;}
#header-home { position: absolute; width: 100%;z-index: 1;}
.login-box{background-color: #f5f5f5;float: none;margin: 250px auto auto; max-width: 400px; padding: 10px 35px; width: 100%;}
.login-box h3{text-align: center;color: #333333;font-family: 'ubunturegular',sans-serif; font-size: 22px; margin-bottom: 0;}
.login-box label{color:#555555;font-size: 15px;font-family: 'ubunturegular',sans-serif;font-weight: normal !important;}
.forget{float: right;color: #999999;}
.forget a:hover{color: #04599c;}
.checkbox {  color: #555555;display: inline-block;font-size: 14px;padding-left: 20px;margin: 0;}
.login-button {background-color: #04599c; border: medium none; border-radius: 3px;color: #fff;font-size: 16px;height: 40px; width: 100%; margin-bottom: 30px; margin-top: 10px;}
.login-button:hover , .login-button:focus {background-color: #fff;border: 1px solid #04599c;color: #04599c;}
.account div{display: inline-block;color: #8a8a8a;}
.account{text-align: center;}
.dont-account a{color:#8a8a8a;font-size: 14px;}
.dont-account a:hover{color:#04599c;font-size: 14px;}
.register a{color:#3e3e3e;font-size: 14px;}
.register a:hover{color:#04599c;font-size: 14px;}
.forget > a {color: #999999;}
.forget > a:hover {color: #04599c;}
.input-box-login {border: 1px solid #9e9c9c;border-radius: 3px;display: block;height: 40px;width: 100%; padding: 0 10px;}
.form-group { margin-bottom: 20px; position: relative;}
.error { color: #fc0617; font-size: 12px; left: 0; padding-top: 4px; position: absolute;width: 100%;text-align: left;}
.login-box img {margin-bottom: 15px;}

/*----------------end-------------------*/

/*----------------signup page-------------------*/
.signup-banner{background-image: url("../../images/change-pw-banner.jpg"); background-repeat: no-repeat;background-size: cover;}
.pattern-signup{background-repeat: repeat;background-image:url(../../images/pattern-over.png);min-height: 200px;

background-color: rgba(19,48,82,0.55);
background-color: -moz-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,48,82,1)), color-stop(100%, rgba(19,48,82,0.01)));
background-color: -webkit-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: -o-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: -ms-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: linear-gradient(to bottom, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133052', endColorstr='#133052', GradientType=0 );

}
.signup-heading{color: #fff;text-align: center;font-size: 30px;font-family: 'ubuntumedium',sans-serif;margin-top: 130px;letter-spacing: 0.4px;}
.middle-area {padding: 50px 0;}
.form-wrapper h3 { border-bottom: 1px solid #eee; color: #555555; font-family: 'ubuntulight',sans-serif; font-size: 16px; margin-bottom: 30px; margin-top: 0; padding-bottom: 16px; letter-spacing: 0.4px;line-height: 22px;}
.form-wrapper h4 {color: #1376d7;font-family:'ubunturegular',sans-serif;font-size: 18px;}
label {color: #555555;display: inline-block;font-size: 16px;margin-bottom: 5px;max-width: 100%;font-family: 'ubuntulight',sans-serif;font-weight: normal;letter-spacing: 0.4px;}

.input-box-signup{ border: 1px solid #ccc; border-radius: 3px; display: block; height: 38px; padding: 10px; width: 100%;line-height: normal;}
.select-number select {  -moz-appearance: none;background: transparent none repeat scroll 0 0;border: 0 none; height: 100%; width: 100%;
letter-spacing: 0.4px;color: #555555;font-size: 15px;font-family: 'ubuntulight',sans-serif;padding-right: 32px;    padding-left: 10px;}
.select-number { background-image: url("../../images/select-arrow.png");background-position: right center;background-repeat: no-repeat;border: 1px solid #ccc;border-radius: 3px;height: 39px;width: 100%;padding-left: 5px;}
.col-xs-9.col-sm-9.col-md-10.mumber-box-right{padding-left: 5px;}

.col-xs-3.col-sm-3.col-md-2.mumber-box-left {padding-right: 5px;}
.form-lable {color: #555555;font-size: 16px;letter-spacing: 0.4px;font-family: 'ubuntulight',sans-serif;padding-top: 5px;}
.css-label.radGroup2 > a {color: #fc575c;}
.create-acc-btn {background-color: #fc575c;border: 1px solid #fc575c;border-radius: 3px;color: #fff;height: 50px;margin-top: 27px;max-width: 244px;width: 100%;font-family:'ubunturegular',sans-serif;font-size: 16px;letter-spacing: 0.4px;}
.signup-img1 h5 { border-bottom: 1px solid #eee; color: #2f2f2f;font-family: "ubuntulight";font-size: 15px;letter-spacing: 0.4px;padding: 5px 30px 40px;text-align: center;line-height: 20px;}
.right-section .signup-img1:last-child h5 {border: medium none;}
.signup-img1 img {padding-top: 40px;}
.right-section {background-color: #fafafa;}
.bootom-area{background-image: url("../../images/signup-watermark-img.png");background-size: cover;background-repeat: no-repeat;background-color: #f9f9f9; padding: 20px 0;}
.contact-wrapper {text-align: center;padding: 10px;}
.contact-wrapper .contact { color: #555555;font-size: 15px;letter-spacing: 0.4px;padding: 20px 0 2px;font-family: 'ubuntumedium',sans-serif;
line-height: 26px;}
.contact-wrapper .contact-number {color: #555555;font-size: 18px;letter-spacing: 0.4px;font-family: 'ubuntulight',sans-serif;overflow-wrap: break-word;}
span.star {color: red;}
.m-top {margin-top: 25px;}
.captcha {padding-top: 15px;}
/*----------------end-------------------*/

/*radio button css start*/
.radio-btns .radio-btn{display: block;position: relative;float: left;}
.radio-btns .radio-btn input[type=radio]{position: absolute;visibility: hidden;}
.radio-btns .radio-btn label{font-family: "open sans";font-weight: normal;color: #646464;display: block;position:relative;font-size: 16px;padding: 0px 25px 0px 27px;margin:5px auto;z-index: 9;cursor: pointer;-webkit-transition: all 0.25s linear;}
.radio-btns .radio-btn .check{display: block;position: absolute;border: 1px solid #AAAAAA;border-radius: 100%;height: 15px;width: 15px;top:9px;left: 0px;z-index: 5;transition: border .25s linear;-webkit-transition: border .25s linear;}
.radio-btns .radio-btn .check::before {border-radius: 100%;content: "";display: block;height: 7px;left: 3px;   margin:auto;position: absolute;top: 3px;transition: background 0.25s linear 0s;width: 7px;}
.radio-btns input[type=radio]:checked ~ .check {border: 1px solid #ccc;}
.radio-btns input[type=radio]:checked ~ .check::before{background: #fc575c;}
.radio-btns input[type=radio]:checked ~ label{color: #333;}
/*radio buttons css end*/

/*checkbox css start*/
.check-box{display:block;margin-bottom:15px;}
input.css-checkbox[type="checkbox"] {border: 0 none; clip: rect(0px, 0px, 0px, 0px); height: 1px; left: -1000px; margin: -1px; overflow: hidden; padding: 0; position: absolute;
width: 1px; z-index: -1000;}
input.css-checkbox[type="checkbox"]:checked + label.css-label {background-position: 0 -21px;}
input.css-checkbox[type="checkbox"] + label.css-label {background-position:0 1px; background-repeat: no-repeat; cursor: pointer; display: inline-block; padding-left: 25px; vertical-align: middle; color: #555555;font-weight: normal;font-size: 15px;height: 24px;
    line-height: normal;}
label.css-label {-moz-user-select: none; background-image: url(../../images/check-bx.png);}
label {margin-right: 0px;}
.check-box-inline{display: inline-block;margin-right: 10px;}
/*checkbox css end*/
/*--------------------Change Password---------------------*/
.banner-change-pw{background-image: url("../../images/change-pw-banner.jpg"); background-repeat: no-repeat;background-size: cover;}
.pattern-change-pw{background-repeat: repeat;background-image:url(../../images/pattern-over.png);min-height: 200px;

background-color: rgba(19,48,82,0.55);
background-color: -moz-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,48,82,1)), color-stop(100%, rgba(19,48,82,0.01)));
background-color: -webkit-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: -o-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: -ms-linear-gradient(top, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
background-color: linear-gradient(to bottom, rgba(19,48,82,1) 0%, rgba(19,48,82,0.01) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133052', endColorstr='#133052', GradientType=0 );}
.heading-changepw {color: #fff;font-family: "ubuntumedium",sans-serif;font-size: 30px;letter-spacing: 0.4px;margin-top: 120px;text-align: center;}
.col-md-6.form-wrapper {float: none;margin: 0 auto;}
.form-wrapper label {color: #555555;font-family: "ubuntulight",sans-serif;font-size: 16px;letter-spacing: 0.4px;}
.form-wrapper input { color: #888;font-size: 15px;font-family: "ubuntulight";letter-spacing: 0.4px;}
.cancel-btn {background-color: #f1f1f1;border: 1px solid #f1f1f1;border-radius: 3px;color: #555555;font-size: 16px;padding: 8px 40px;font-family:'ubunturegular',sans-serif;margin-right: 20px;letter-spacing: 0.3px;}
.cancel-btn:hover, .update-btn:focus{background-color: #fff;border: 1px solid #555555;color:#555555;}

.submit-btn {background-color: #fc575c;border: 1px solid #fc575c;border-radius: 3px;color: #fff;font-size: 16px;padding: 8px 40px;font-family: "ubunturegular",sans-serif;letter-spacing: 0.3px;display:inline-block;}
.submit-btn:hover, .cancel-btn:focus{background-color: #fff;border: 1px solid #fc575c;color:#fc575c;letter-spacing: 0.3px;}
.min-height{min-height: 500px;}
#after-login-header {position: absolute; width: 100%;z-index: 1;}
.btn-wrapper{text-align: right;}
/*.after-login .header.sticky .text-right ul {padding-top: 6px;}*/
/*--------------------------end--------------------------*/

/*---------------------------after login header------------------------------*/
.member-btn {  background-color: #1376d7;border: 1px solid #1376d7;border-radius: 3px;color: #fff;display: inline-block;font-family: "ubuntulight";font-size: 16px;height: 39px;letter-spacing: 0.4px;margin-right: 12px; max-width: 205px;padding: 8px 0;text-align: center;width: 100%;}
.member-btn:hover, .member-btn:focus {background-color: #fff; color: #1236d7;border:1px solid #1376d7}
i.fa-bell {color: #e35007;font-size: 20px;}
.right-menu li a{padding:8px 8px;}

.ten {background-color: #fff;border-radius: 7px;bottom: 10px;color: #04599c;font-size: 10px;height: 16px;left: 10px;position: absolute;
    text-align: center;width: 16px;padding: 1px;}
.back-line {background-image: url("../../images/menu-divide-line.png"); background-position: left center; background-repeat: no-repeat; padding: 0 13px;}
.bell{position: relative;}
.header.sticky .main-logo a img {max-width: 185px;width: 100%;}
.dropdown-wrapper .dropdown-menu > li.lst {border: 0 none;}
/*droup down css start here*/
.dropdown-wrapper  .drop-menu {background-color: transparent;border: medium none;color: #fff;font-family: "ubuntulight";font-size: 16px;
letter-spacing: 0.4px;padding-right: 40px;}
.dropdown-wrapper  .dropdown-menu a {color: #fff ;font-size: 14px !important;width: 100%;}
.dropdown-wrapper  .dropdown-menu > li {width: 100% !important; padding: 0px 0px;}
.dropdown-wrapper{position: relative;padding-right: 42px;top:-3px;}
.dropdown-wrapper  .img-block {border-radius: 50%;display: block;height: 31px;margin-left: 18px;position: absolute;right: 0;top: -4px;width: 31px;}
.dropdown-wrapper  .img1 { border-radius: 50%; height: 100%; width: 100%;}
.dropdown-wrapper .dropdown-menu { background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;border-radius: 0;
left: auto;padding: 0;right: 0;text-align: left;top: 130%;z-index: 1000;}
.dropdown-wrapper .dropdown-menu li a:hover {background: #000;color: #fff;}
.dropdown-wrapper .dropdown-menu > li {border-bottom: 1px solid #555;}
.dropdown-wrapper .dropdown-menu > li:last-child {border: none;}
/*droup down css end here*/

/*--------------------------------end----------------------------------*/


/*-------------------------signup personal page--------------------------*/
.signup-personal-RightSection h5 {color: #2f2f2f;font-family: "ubuntulight";font-size: 15px;font-weight: normal;letter-spacing: 0.2px;line-height: 20px;margin: 7px auto 0;width: 85%;}
.signup-personal-img {display: block;text-align: center;}

/*right side section */

.signup-personal-RightSection {padding-left: 60px; padding-top: 60px;}
.line-empty {background: #ddd none repeat scroll 0 0; display: block;height: 477px;left: 54%;margin: 0 auto;position: absolute;text-align: center;top: 106px;width: 1px;}
.img-responsive.img-d {margin-left: -21px;}
.img-responsive.img-d-r {margin-left: 53px;}




/*--------------------------------end----------------------------------*/

 /*------------------signup-employement-page------------------*/
.duration {position: relative;}
.duration-to {position: absolute;font-size: 14px;left: 48.8%;top: 8px;color:#555;}

/*--------------------------------end----------------------------------*/
/*----------------------signup-education-page------------------------------*/
.form-area {border: 1px solid #ccc;border-radius: 3px;color: #999;height: 95px;line-height: normal;padding: 10px;width: 100%;}
/*----------------------------------end---------------------------------*/

/*-------------------------------my-profile--------------------------------*/
.col-md-8.form-wrapper {float: none;margin: 0 auto;}
.marks .form-group { margin-bottom: 0;}

/*--------------------------------end----------------------------------*/

/* footer */

.footer-bg ul li a {color:#dcdcdc;letter-spacing: 0.2px;}
.footer-bg ul li a:hover{color:#1376d7;}

/*  end  */

/*back_to top arrow css start here*/
.cd-top {background:#1376d7 url("../../images/up-arrow.png") no-repeat scroll center 50%;bottom: 40px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
display: inline-block;height: 40px;opacity: 0;outline: medium none;overflow: hidden;position: fixed;right: 30px;text-indent: 100%;
transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;visibility: hidden;white-space: nowrap;width: 40px;z-index: 99999;
border-radius: 100px;background-size:45% auto;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {transition: opacity 0.3s ease 0s, visibility 0s ease 0s;}
.cd-top.cd-is-visible {opacity: 1;visibility: visible;}
.cd-top.cd-fade-out {opacity: 0.8;}
.no-touch .cd-top:hover {background-color: #68a72c;opacity: 1;}
.scaleIn .rot {transition: all 0.35s linear 0s;}
.fadeUp {animation: 1s ease 0s normal none 1 running fadeUp;}
@keyframes fadeUp {0% {opacity: 0;transform: translateY(50px);}
100% {opacity: 1;transform: translateY(0px);}}
.scale-In {animation: 1s ease 0s normal none 1 running scaleIn;}
@keyframes scaleIn {0% {transform: scale(0);}100% {transform: scale(1);}}
.scale-InOut {animation: 1s ease 0s normal none 1 running scaleIn;}
@keyframes scaleInOut {50% {transform: scale(1.1);}100% {transform: scale(1);}}
.scaleIn:hover .rot {border-color: #4cc3e9;transform: rotateY(180deg);}
.hovfade:hover {animation-duration: 0.5s;animation-name: scaleInOut;}
/*back_to top arrow css end here*/



@media all and (max-width:1200px){
    
.col-sm-12.col-md-9.col-lg-9.mar-left-px {
    margin-left: 0;
    padding-left: 15px;
     width: auto;
}
    .col-sm-2.col-md-2.col-lg-2.text-center.rupies{ padding-right: 10px;}
.box-right { padding-bottom: 10px;}
    
     /*------------------signup-personal-page------------------*/
    .signup-personal-RightSection {padding-left: 0px;margin-top: 20px;}
    .signup-personal-RightSection img {display: block;margin-left: auto;margin-right: auto;}
    .signup-personal-img {display: block;background-color: #fff;text-align: center;margin-bottom: 30px;}
    .pull-right{float:none !important;}
    .pull-left{float:none !important;}
    .line-empty {left:50%;height: 560px;}
      /*---------------end-------------------*/

}

@media all and (max-width:1024px){
   .back-line {
    background:none;
}
    .step_process{max-width: 50px;}
}

@media all and (max-width:767px){
    /* header */
    .main-logo {text-align: center;}
    .menu-right {text-align: center !important;}
    .input-box input{padding-right: 75px;}
    .search-btn{border-radius: 0;}
    /* end */
    .rupies{text-align: left !important;width: 142px;}
     .rupies h2{text-align: left !important; }
    .rupies h2 {float: right;margin-top: 2px;text-align: left !important;}
    .box-right p{color:#6c6c6c;font-family: 'ubunturegular';line-height: 19px !important;}
   .col-sm-12.col-md-9.col-lg-9.mar-left-px { margin-left: auto;padding-left: 15px;width: auto;}
    .box-right p { height: auto;}
    .box-right ul li{padding: 0 0;}
    .text-right li a {padding: 0 20px 0 10px;}
    .rupies { text-align: left !important;width: 130px;}
    /* category */
    .ul-category { display: block; max-width: none; width: 100%;padding-bottom: 0px;}
    
    .ul-category h4 {background: rgba(0, 0, 0, 0) url("../../images/arrow_ftr.png") no-repeat scroll right 22% / 12px auto;cursor: pointer;color:#5f6367;}
.ul-category h4.active {background: rgba(0, 0, 0, 0) url("../../images/arrow_ftr-down.png") no-repeat scroll right 22% / 12px auto;cursor: pointer;color:#04599c;}
    .box-right .text-center { padding-top: 15px;}
    .footer-bg ul li{margin-top: 15px;}
    /* end */
    
    /*----login page-------*/
    .login-box {
    background-color: #fff;
    float: none;
    margin: 210px auto auto;
    max-width: 400px;
    padding: 10px 25px;
    width: 100%;
}
    /*------end------*/
    /*--------change password page----------*/
    .btn-wrapper{text-align: left;}
    .update-btn {margin-bottom: 10px;}
    .text-right.menu-right.right-menu {padding-top: 15px;}
    .submit-btn {padding: 8px 30px;}
    .cancel-btn {padding: 8px 30px;}
    /*---------------end-------------------*/
    
    /*------------------signup page--------------------*/
    .signup-heading{font-size: 22px;}
    .select-number select{ padding-right: 18px;padding-left: 0px;}
    .select-number {margin-bottom: 5px;}
    .text-right{text-align: center;}
    /*-----------------------end-------------------------*/
    /*------------------signup-personal-page------------------*/
    .signup-personal-RightSection {padding-left: 0px;margin-top: 20px;}
    .signup-personal-RightSection img {display: block;margin-left: auto;margin-right: auto;}
    .signup-personal-img {display: block;background-color: #fff;text-align: center;margin-bottom: 30px;}
    .pull-right{float:none !important;}
    .pull-left{float:none !important;}
    .line-empty {left:50%;height: 525px;}
    .bg_i{width:22%;}
    /*------------------------end------------------------*/
    
      /*------------------signup-employment-page------------------*/
    .duration-to {font-size: 14px;padding-left: 15px;position: unset;text-align: left;padding-bottom: 5px;}
     /*------------------------end------------------------*/
     /*------------------signup-education-page------------------*/
    .input-box-signup.m-bottom {margin-bottom: 5px;}
    .captcha {padding-top: 50px;}
     /*------------------------end------------------------*/
}
